<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main">
      <!-- Hero Banner -->
      <aside class="rlr-hero--half-mast">
        <!-- Header and Navigation -->
        <div class="rlr-banner__media">
          <header>
            <nav id="rlrTransNav" class="navigation rlr-navigation fixed-top navigation-transparent">
              <!-- Logo -->
              <div class="navigation-header">
                <div class="navigation-brand-text">
                  <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--transparent-bg">
                    <a href="./home-page--fsv.html">
                      <img src="./assets/svg/emprise-logo-white.svg" alt="#" class="rlr-logo__img" />
                    </a>
                  </div>
                  <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                    <a href="./home-page--fsv.html">
                      <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="rlr-logo__img" />
                    </a>
                  </div>
                </div>
                <div class="navigation-button-toggler">
                  <span class="rlr-sVGIcon"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-menu"> </i> </span>
                </div>
              </div>
              <div class="navigation-body rlr-navigation__body container-xxxl">
                <div class="navigation-body-header rlr-navigation__body-header">
                  <div class="navigation-brand-text">
                    <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--transparent-bg">
                      <a href="./home-page--fsv.html">
                        <img src="./assets/svg/emprise-logo-white.svg" alt="#" class="rlr-logo__img" />
                      </a>
                    </div>
                    <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                      <a href="./home-page--fsv.html">
                        <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="rlr-logo__img" />
                      </a>
                    </div>
                  </div>
                  <span class="rlr-sVGIcon navigation-body-close-button"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-close"> </i> </span>
                </div>

                <!-- Main menu -->
                <ul class="navigation-menu rlr-navigation__menu rlr-navigation__menu--main-links">
                  <!-- Dropdown menu 1 -->
                  <li class="navigation-item is-active">
                    <a class="navigation-link" href="./home-page--fsv.html">Home</a>
                    
                  </li>
               
                  <!-- Dropdown menu 1 -->
                  <li class="navigation-item">
                    <a class="navigation-link" href="./search-results--3-col.html">Tours</a>
                  </li>
                
                  </li>
                  <!-- Dropdown menu 2 -->
                  <li class="navigation-item">
                    <a class="navigation-link" href="./contact.html"> Contact </a>
                  </li>
                  <li class="navigation-item">
                    <a class="navigation-link" href="./gallery-page.html"> Gallery </a>
                  </li>
                </ul>
                <!-- User actions menu -->
                <ul class="navigation-menu rlr-navigation__menu align-to-right">
                 
                  <!-- Add your listing -->
                  <li class="d-lg-none d-xxl-block navigation-item">
                    <a class="navigation-link rlr-navigation__link--so" target="_blank" href="./product-form.html">Add listing</a>
                  </li>
            <!-- User account dropdown -->
            <li class="navigation-item">
              <a class="navigation-link" href="#"> Admin <img class="ui right spaced avatar image" src="./assets/images/blog-single-avatar.png" alt="account avatar" /> </a>
              <ul class="navigation-dropdown">
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./my-account-pages--dashboard.html">Profile</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./my-account-pages--order.html">Your Orders</a>
                </li>
                <li class="navigation-dropdown-item">
                  <hr class="dropdown-divider rlr-dropdown__divider" />
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./account-pages--login.html">Sign out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <!-- Hero Banner -->
      <section class="rlr-about-hero">
        <div class="container">
          <div class="rlr-about-hero__content">
            <img class="rlr-about-hero__bg" src="./assets/images/about-hero-3.jpg" alt="..." />
            <div class="rlr-about-hero__content-inner">
              <h1 class="type-d1 rlr-about-hero__title">About Us</h1>
              <div class="rlr-about-hero__cards">
                <div class="rlr-about-hero-card" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
                  <h5 class="type-h5-semibold rlr-about-hero-card__title">What started the emprise venture?</h5>
                  <p class="type-lead rlr-about-hero-card__desc">It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
                <div class="rlr-about-hero-card" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
                  <h5 class="type-h5-semibold rlr-about-hero-card__title">What started the emprise venture?</h5>
                  <p class="type-lead rlr-about-hero-card__desc">It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
                <div class="rlr-about-hero-card" data-aos="fade-up" data-aos-offset="250" data-aos-duration="700">
                  <h5 class="type-h5-semibold rlr-about-hero-card__title">What started the emprise venture?</h5>
                  <p class="type-lead rlr-about-hero-card__desc">It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Vision -->
      <section class="rlr-about rlr-section rlr-section__my">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <!-- Section heading -->
              <div class="rlr-section__title">
                <h2 class="rlr-section__title--main">Our Vision</h2>
                <span class="rlr-section__title--sub">Sost Brilliant reasons Emprise should be your one-stop-shop!</span>
              </div>
              <div class="row gy-5">
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">1</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="275" data-aos-duration="600">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">2</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="300" data-aos-duration="700">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">3</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" class="col-xl-6" data-aos="fade-up" data-aos-offset="325" data-aos-duration="800">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">4</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-xl-1 col-lg-5">
              <div class="rlr-img rlr-img--dotted img-fluid">
                <img class="img-fluid" src="./assets/images/about-01.jpg " alt=" image our vision" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Values -->
      <section class="rlr-about rlr-section rlr-section__my">
        <div class="container">
          <div class="row">
            <div class="offset-xl-1 col-lg-5 flex-sm-column-reverse rlr-dotted-image">
              <div class="rlr-img rlr-img--dotted-reversed">
                <img class="img-fluid" src="./assets/images/about-02.jpg " alt=" image our values" />
              </div>
            </div>
            <div class="col-lg-6">
              <!-- Section heading -->
              <div class="rlr-section__title">
                <h2 class="rlr-section__title--main">Our Values</h2>
                <span class="rlr-section__title--sub">Sost Brilliant reasons Emprise should be your one-stop-shop!</span>
              </div>
              <div class="row gy-5">
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">1</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="275" data-aos-duration="600">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">2</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" data-aos="fade-up" data-aos-offset="300" data-aos-duration="700">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">3</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
                <div class="col-xl-6" class="col-xl-6" data-aos="fade-up" data-aos-offset="325" data-aos-duration="800">
                  <!-- Text card -->
                  <div class="rlr-text-card rlr-text-card--numbered">
                    <h5 class="rlr-text-card__title">4</h5>
                    <p class="rlr-text-card__desc">Etiam elementum ex vel tortor laoreet auctor. Aenean iaculis, ipsum eget eleifend ornare, arcu ante efficitur urna, id faucibus leo nunc sit amet elit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Team -->
      <section class="rlr-section">
        <div class="container">
          <div class="row">
            <!-- Section heading -->
            <div class="rlr-section__title rlr-section__title--centered">
              <h2 class="rlr-section__title--main">Our Team</h2>
              <span class="rlr-section__title--sub">Sost Brilliant reasons Emprise should be your one-stop-shop!</span>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-03.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Devon Lane</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Founder</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="300" data-aos-duration="600">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-05.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Cleona Mathur</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Co-Founder</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="350" data-aos-duration="700">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-06.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Darren Spratt</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Tour Manager</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-offset="400" data-aos-duration="800">
              <!-- Team card -->
              <div class="rlr-team-card rlr-team-card--v2">
                <!-- Team thumb -->
                <div class="rlr-team-card__thumb">
                  <img src="./assets/images/team/team-04.jpg" alt="Member Photo" />
                </div>
                <!-- Team summary -->
                <div class="rlr-team-card__summary">
                  <h3 class="rlr-team-card__title">
                    <a href="#">Lejla Fizovic</a>
                  </h3>
                  <h3 class="rlr-team-card__subtitle">Administrator</h3>
                  <!-- Team details -->
                  <p class="rlr-team-card__desc">ed non iaculis sem</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
<!-- Sales and Support -->
<section class="rlr-section">
  <div class="container">
      <!-- Section heading -->
      <div class="rlr-section__title rlr-section__title--centered">
          <h2 class="rlr-section__title--main">Still have a question?</h2>    <span class="rlr-section__title--sub">See Brilliant reasons VyesMir should be your one-stop-shop!</span></div>        <div class="row">
          <div class="offset-lg-1 col-lg-5" data-aos="fade-down-right"
              data-aos-duration="800" data-aos-once="true">
              <div class="rlr-support-card rlr-support-card--sale">
                  <div class="rlr-support-card__content">
                      <div class="rlr-support-card__img-wrapper">
                          <img src="./assets/svg/headset.svg" alt="headset" />
                      </div>
                      <h2 class="rlr-support-card__title">For Sales</h2>
                      <p class="rlr-support-card__subtitle rlr-support-card__text"> For enquiries on partnership and sales </p>
                      <p class="rlr-support-card__text"> sales@VyesMir.tours </p>
                      <p class="rlr-support-card__text"> +977(985) 110-88-96 </p>
                  </div>
              </div>            </div>
          <div class="col-lg-5" data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-duration="1000"
              data-aos-once="true">
              <div class="rlr-support-card rlr-support-card--help">
                  <div class="rlr-support-card__content">
                      <div class="rlr-support-card__img-wrapper">
                          <img src="./assets/svg/help-circle.svg" alt="headset" />
                      </div>
                      <h2 class="rlr-support-card__title">Help &amp; Support</h2>
                      <p class="rlr-support-card__subtitle rlr-support-card__text"> For help and assistance </p>
                      <p class="rlr-support-card__text"> support@VyesMir.tours </p>
                      <p class="rlr-support-card__text"> +977(985) 110-88-77 </p>
                  </div>
              </div>            </div>
      </div>
  </div>
</section>
  </main>
  <!-- Footer -->
  <footer class="rlr-footer rlr-section rlr-section__mt">
      <div class="container">
          <div class="rlr-footer__getintouch">
              <div class="rlr-footer__getintouch_col rlr-footer__getintouch__col--title">
                  <h4>Get traveling</h4>
                  <p>Adventures Is Calling You Guys!</p>
              </div>
              
          </div>        <!-- Footer menu -->
          <div class="rlr-footer__menu">
              <nav class="rlr-footer__menu__col">
                  <!-- Footer menu col -->
                  <h4>Services</h4>
                  <ul>
                      <p>Budget Tours</p>
                      <p>Expert Insight</p>
                      <p>Luxury Tours</p>
                      <p>Safety Tips</p>
                      <p>Travel Tips n Tricks</p>
                  </ul>
              </nav>
              <nav class="rlr-footer__menu__col">
                  <!-- Footer menu col -->
                  <h4>Adventures</h4>
                  <ul>
                      <p>Beach Activity</p>
                      <p>Bungee Jumping</p>
                      <p>City Tour</p>
                      <p>Hiking Trips</p>
                      <p>Jungle Safari</p>
                      <p>Night City Walk</p>
                  </ul>
              </nav>
              <nav class="rlr-footer__menu__col">
                  <!-- Footer menu col -->
                  <h4>Popular Locations</h4>
                  <ul>
                      <p>Sochi</p>
                      <p>Murmansk</p>
                      <p>Italy</p>
                      <p>Dubai</p>
                      <p>Turkey</p>
                      <p>France</p>
                  </ul>
              </nav>
              <!-- Subscribe -->
              <nav class="rlr-footer__menu__col rlr-footer__menu__col--lg">
                  <h4>Get In Touch</h4>
                  <a href="./contact.html" class="rlr-footer__menu__col__letstalk">Let’s Talk</a>
                  <form class="rlr-subscribe" data-aos="fade-up" data-aos-offset="250"
  data-aos-duration="700">
  <input type="email" class="rlr-subscribe__input"
      placeholder="Enter your email">
  <button class="btn">Send Now!</button>
</form>
              </nav>
          </div>        <!-- Footer bottom -->
          <div class="rlr-footer__legal">
              <div class="rlr-footer__legal__row rlr-footer__legal__row--top">
                  <div class="rlr-footer__legal__row__col ">
                      <a href="./about.html">Privacy Policy</a>
                  </div>
                  <!-- Footer social links -->
                  <div class="rlr-footer__legal__row__col">
                      <a href="#">Linkedin</a>
                      <span class="separate">/</span>
                      <a href="#">Facebook</a>
                      <span class="separate">/</span>
                      <a href="#">Instagram</a>
                  </div>
              
                </div>
             
          </div>    
        </div>
  </footer>    <!-- Scripts -->
  <script src="./vendors/navx/js/navigation.min.js"></script>
  <script src="./js/main.js"></script>
  <!-- Uncomment Lines below to Start of ChatBot (www.chatbot.com) code -->
  <!-- End of ChatBot code -->
</body>

</html>
