<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./styles/plugins.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body class="rlr-body">
    <!-- Header -->
    <header>
      <nav id="navigation" class="navigation rlr-navigation default-nav fixed-top">
        <!-- Logo -->
        <div class="navigation-header">
          <div class="navigation-brand-text">
            <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
              <a href="./home-page--fsv.html">
                <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="" />
              </a>
            </div>
          </div>
          <div class="navigation-button-toggler">
            <span class="rlr-sVGIcon"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-menu"> </i> </span>
          </div>
        </div>
        <div class="navigation-body rlr-navigation__body container">
          <div class="navigation-body-header rlr-navigation__body-header">
            <div class="navigation-brand-text">
              <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                <a href="./home-page--fsv.html">
                  <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="" />
                </a>
              </div>
            </div>
            <span class="rlr-sVGIcon navigation-body-close-button"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-close"> </i> </span>
          </div>

            <!-- Main menu -->
            <ul class="navigation-menu rlr-navigation__menu rlr-navigation__menu--main-links">
              <!-- Dropdown menu 1 -->
              <li class="navigation-item is-active">
                <a class="navigation-link" href="./home-page--fsv.html">Home</a>
                
              </li>
           
              <!-- Dropdown menu 1 -->
              <li class="navigation-item">
                <a class="navigation-link" href="./search-results--3-col.html">Tours</a>
              </li>
            
              </li>
              <!-- Dropdown menu 2 -->
              <li class="navigation-item">
                <a class="navigation-link" href="./contact.html"> Contact </a>
              </li>
              <li class="navigation-item">
                <a class="navigation-link" href="./gallery-page.html"> Gallery </a>
              </li>
            </ul>
            <!-- User actions menu -->
            <ul class="navigation-menu rlr-navigation__menu align-to-right">
             
              <!-- Add your listing -->
              <li class="d-lg-none d-xxl-block navigation-item">
                <a class="navigation-link rlr-navigation__link--so" target="_blank" href="./product-form.html">Add listing</a>
              </li>
            <!-- User account dropdown -->
            <li class="navigation-item">
              <a class="navigation-link" href="#"> Admin <img class="ui right spaced avatar image" src="./assets/images/blog-single-avatar.png" alt="account avatar" /> </a>
              <ul class="navigation-dropdown">
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./my-account-pages--dashboard.html">Profile</a>
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./my-account-pages--order.html">Your Orders</a>
                </li>
                <li class="navigation-dropdown-item">
                  <hr class="dropdown-divider rlr-dropdown__divider" />
                </li>
                <li class="navigation-dropdown-item">
                  <a class="navigation-dropdown-link" href="./account-pages--login.html">Sign out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="rlr-section__content--lg-top">
        <section class="rlr-section rlr-section__mt rlr-account">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 offset-lg-4">
                <div class="rlr-authforms">
                  <div class="rlr-authforms__header">
                    <img src="./assets/images/logos/Logomark.svg" alt="Logo" />
                    <h2>Forgot password?</h2>
                    <p>No worries, we’ll send you reset instructions.</p>
                  </div>
                  <div class="rlr-authforms__form">
                    <div class="rlr-authforms__inputgroup"><label class="rlr-form-label rlr-form-label--light required"> Email </label> <input type="text" autocomplete="off" class="form-control form-control--light" /></div>
                    <button type="button" class="btn rlr-button rlr-button--fullwidth rlr-button--primary">Reset password</button>
                  </div>
                  <div class="rlr-authforms__back">
                    <a href="./account-pages--login.html"><img src="./assets/images/back-arrow.png" alt="back arrow" /> Back to log in</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
     <!-- Footer -->
  <footer class="rlr-footer rlr-section rlr-section__mt">
    <div class="container">
        <div class="rlr-footer__getintouch">
            <div class="rlr-footer__getintouch_col rlr-footer__getintouch__col--title">
                <h4>Get traveling</h4>
                <p>Adventures Is Calling You Guys!</p>
            </div>
            
        </div>        <!-- Footer menu -->
        <div class="rlr-footer__menu">
            <nav class="rlr-footer__menu__col">
                <!-- Footer menu col -->
                <h4>Services</h4>
                <ul>
                    <p>Budget Tours</p>
                    <p>Expert Insight</p>
                    <p>Luxury Tours</p>
                    <p>Safety Tips</p>
                    <p>Travel Tips n Tricks</p>
                </ul>
            </nav>
            <nav class="rlr-footer__menu__col">
                <!-- Footer menu col -->
                <h4>Adventures</h4>
                <ul>
                    <p>Beach Activity</p>
                    <p>Bungee Jumping</p>
                    <p>City Tour</p>
                    <p>Hiking Trips</p>
                    <p>Jungle Safari</p>
                    <p>Night City Walk</p>
                </ul>
            </nav>
            <nav class="rlr-footer__menu__col">
                <!-- Footer menu col -->
                <h4>Popular Locations</h4>
                <ul>
                    <p>Sochi</p>
                    <p>Murmansk</p>
                    <p>Italy</p>
                    <p>Dubai</p>
                    <p>Turkey</p>
                    <p>France</p>
                </ul>
            </nav>
            <!-- Subscribe -->
            <nav class="rlr-footer__menu__col rlr-footer__menu__col--lg">
                <h4>Get In Touch</h4>
                <a href="./contact.html" class="rlr-footer__menu__col__letstalk">Let’s Talk</a>
                <form class="rlr-subscribe" data-aos="fade-up" data-aos-offset="250"
data-aos-duration="700">
<input type="email" class="rlr-subscribe__input"
    placeholder="Enter your email">
<button class="btn">Send Now!</button>
</form>
            </nav>
        </div>        <!-- Footer bottom -->
        <div class="rlr-footer__legal">
            <div class="rlr-footer__legal__row rlr-footer__legal__row--top">
                <div class="rlr-footer__legal__row__col ">
                    <a href="./about.html">Privacy Policy</a>
                </div>
                <!-- Footer social links -->
                <div class="rlr-footer__legal__row__col">
                    <a href="#">Linkedin</a>
                    <span class="separate">/</span>
                    <a href="#">Facebook</a>
                    <span class="separate">/</span>
                    <a href="#">Instagram</a>
                </div>
            
              </div>
           
        </div>    
      </div>
</footer>
    <!-- Scripts -->
    <script src="./vendors/navx/js/navigation.min.js" defer></script>
    <script src="./js/main.js" defer></script>
  </body>
</html>
