{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main--fixed-top">
      <div class="rlr-section__content--md-top">
        <div class="rlr-section rlr-section__my">
          <div class="rlr-checkout">
            <article id="post-7" class="post-7 page type-page status-publish hentry">
              <div class="container-xxl">
                <div class="entry-content">
                  <div class="woocommerce">
                    <div class="woocommerce-info">
                      <div class="rlr-page-title">
                        <span class="rlr-page-title__icon"> <i class="rlr-icon-font flaticon-carbon-shopping-cart"> </i> </span>
                        <div>
                          <h2 class="type-h3 rlr-page-title__title">Касса</h2>
                          <span class="rlr-page-title__desc">Остался еще один шаг для вашего путешествия...</span>
                        </div>
                      </div>
                    </div>
                    <form class="checkout_coupon woocommerce-form-coupon" method="post" style="display: none">
                      <p>Если у вас есть код купона, пожалуйста, примените его ниже.</p>
                      <p class="form-row form-row-first">
                        <input type="text" name="coupon_code" class="input-text" placeholder="Coupon code" id="coupon_code" value="" />
                      </p>
                      <p class="form-row form-row-last">
                        <button type="submit" class="button" name="apply_coupon" value="Apply coupon">Применить купон</button>
                      </p>
                      <div class="clear"></div>
                    </form>
                    <div class="woocommerce-notices-wrapper"></div>
                    <form name="checkout" method="POST" class="checkout woocommerce-checkout" novalidate="novalidate">
											{% csrf_token %}
                      <div class="col2-set" id="customer_details">
                        <div class="col-1">
                          <div class="woocommerce-billing-fields">
                            <div class="woocommerce-billing-fields__field-wrapper">
                              <h6 class="checkout__section-title">
                                <span>Информация о бронировании  </span>
                              </h6>
															<div class="checkout__personal-details">
																<p class="form-row form-row-first validate-required" id="billing_first_name_field" data-priority="10">
																	<label for="billing_first_name">Доступные даты</label>
																	{% for date in tour.tour_dates.all %}
																	<span class="woocommerce-input-wrapper">
																			<label for="billing_date{{ forloop.counter }}">{{date}}</label>
																			<input type="checkbox" class="input-text" name="available_dates" id="billing_date{{ forloop.counter }}" value="{{ date }}" autocomplete="off">
																	</span>
																	{% endfor %}
																</p>
																<p class="form-row form-row-last validate-required" id="billing_last_name_field" data-priority="20">
																	<label for="billing_last_name">Количество человек</label>
																	<span class="woocommerce-input-wrapper">
																		<input type="number" class="input-text" name="num_of_people" id="billing_last_name" placeholder="1"  autocomplete="family-name" />
																	</span>
																</p>
																<p class="form-row form-row-wide validate-required validate-phone" id="billing_phone_field" data-priority="100">
																	<label for="billing_phone">Выборки</label>
																	{% for selection in tour.selections.all %}
																		<span class="woocommerce-input-wrapper">
																			<label for="billing_selection{{ forloop.counter }}">{{ selection.name }}</label>
																			<input type="checkbox" class="input-text" name="selections" id="billing_selection{{ forloop.counter }}" value="{{ selection }}" autocomplete="off">
																		</span>
																	{% endfor %}
																</p>

															</div>

                            </div>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="woocommerce-shipping-fields"></div>
                          <div class="woocommerce-additional-fields">
                            <h3>Дополнительная информация</h3>
                            <div class="woocommerce-additional-fields__field-wrapper">
                              <p class="form-row notes" id="order_comments_field" data-priority="">
                                <label for="order_comments" class="">
                                  Order notes
                                  <span class="optional"> (optional) </span>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                  <textarea name="order_comments" class="input-text" id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." rows="2" cols="5"></textarea>
                                </span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="order_review" class="woocommerce-checkout-review-order">
                        <table class="shop_table woocommerce-checkout-review-order-table">
                          <tfoot>
                            <tr class="order-total">
                              <th>Payment(Excluding selections)</th>
                              <td>
                                <strong>
                                  <span class="woocommerce-Price-amount amount">
                                    <bdi>
                                      <span class="woocommerce-Price-currencySymbol"> $ </span>
                                      {{tour.get_total_price}}
                                    </bdi>
                                  </span>
                                </strong>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <button type="submit" class="button alt" id="place_order" value="Place order" data-value="Place order">Place Order</button>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- .entry-content -->
              </div>
            </article>
            <!-- #post-7 -->
          </div>
        </div>
      </div>
    </main>


{% endblock %}
