<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel theme needs are all met at emprise." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Travel Website Template | Emprise</title>
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.ico" />
    <link rel="stylesheet" href="./styles/plugins.css" />
    <link rel="stylesheet" href="./styles/main.css" />
  </head>

  <body class="rlr-body">
    <!-- Main Content -->
    <main id="rlr-main" class="rlr-main">
      <header>
        <nav id="navigation" class="navigation rlr-navigation default-nav fixed-top">
          <!-- Logo -->
          <div class="navigation-header">
            <div class="navigation-brand-text">
              <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                <a href="./home-page--fsv.html">
                  <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="" />
                </a>
              </div>
            </div>
            <div class="navigation-button-toggler">
              <span class="rlr-sVGIcon"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-menu"> </i> </span>
            </div>
          </div>
          <div class="navigation-body rlr-navigation__body container">
            <div class="navigation-body-header rlr-navigation__body-header">
              <div class="navigation-brand-text">
                <div class="rlr-logo rlr-logo__navbar-brand rlr-logo--default">
                  <a href="./home-page--fsv.html">
                    <img src="./assets/svg/emprise-logo-dark.svg" alt="#" class="" />
                  </a>
                </div>
              </div>
              <span class="rlr-sVGIcon navigation-body-close-button"> <i class="rlr-icon-font rlr-icon-font--megamenu flaticon-close"> </i> </span>
            </div>
            <!-- Main menu -->
            <ul class="navigation-menu rlr-navigation__menu rlr-navigation__menu--main-links">
              <!-- Dropdown menu 1 -->
              <li class="navigation-item is-active">
                <a class="navigation-link" href="./home-page--fsv.html">Home</a>
              </li>
             
              <!-- Dropdown menu 1 -->
              <li class="navigation-item">
                <a class="navigation-link" href="./search-results--3-col.html">Tours</a>
              </li>
             
              <!-- Dropdown menu 2 -->
              <li class="navigation-item">
                <a class="navigation-link" href="./contact.html"> Contact </a>
              </li>
            </ul>
            <!-- User actions menu -->
            <ul class="navigation-menu rlr-navigation__menu align-to-right">
              
              <!-- Add your listing -->
              <li class="d-lg-none d-xxl-block navigation-item">
                <a class="navigation-link rlr-navigation__link--so" target="_blank" href="./product-form.html">Add your listing</a>
              </li>
              <!-- Signup Button -->
              <li class="navigation-item">
                <a href="./account-pages--login.html" class="btn rlr-button rlr-button--medium rlr-button--rounded rlr-button--brand"> Sign In </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </main>
    <script src="./vendors/navx/js/navigation.min.js"></script>
    <script src="./js/main.js"></script>
    <!-- Uncomment Lines below to Start of ChatBot (www.chatbot.com) code -->
    <!-- End of ChatBot code -->
  </body>
</html>
